.box_footer {
  width: 100%;
  height: 200px;
  background: #fafafa;
}

.box_footer .box_footer_con {
  width: 1230px;
  height: 150px;
  padding-top: 30px;
  margin: 0 auto;
  font-size: 11px;
  color: #757575;
}

.box_footer .box_footer_con a {
  float: left;
}

.box_footer .box_footer_con .footer-right {
  width: 1135px;
  margin-left: 73px;
}

.box_footer .box_footer_con .footer-right .footer_list {
  width: 100%;
  height: 13px;
}

.box_footer .box_footer_con .footer-right .footer_list li {
  float: left;
  height: 13px;
  border-right: 1px solid #757575;
  padding: 0 4px;
  cursor: pointer;
}

.box_footer .box_footer_con .footer-right .footer_list li a {
  font-size: 11px;
  color: #757575;
  line-height: 13px;
}

.box_footer .box_footer_con .footer-right .footer_list li:hover a {
  color: #ff6700;
}

.box_footer .box_footer_con .footer-right span {
  margin-top: 8px;
  margin-left: 2px;
}

.box_footer .box_footer_con .footer-right .foot_con {
  color: #b0b0b0;
}

.box_footer .box_footer_con .footer-right .foot_con span:hover {
  color: #ff6700;
}

.box_footer .box_footer_con .footer-right .list_img {
  margin-top: 8px;
}

.box_footer .box_footer_con .footer-right .list_img img {
  width: 85px;
  height: 28px;
}

.box_footer .logo_title {
  margin: 0 auto;
  height: 50px;
  text-align: center;
  margin-top: 8px;
}

.box_footer .logo_title span {
  font-size: 18px;
  line-height: 50px;
  color: #bebebe;
}
